In [1]:
# EDA pamages 
import pandas as pd

In [2]:
#hide wearrings 
import warnings
warnings.filterwarnings('ignore')

In [3]:
#import the necessary module
from sklearn import preprocessing
# create the Labelencoder object
le = preprocessing.LabelEncoder()
#convert the categorical columns into numeric
le = preprocessing.LabelEncoder()

In [4]:
from sklearn.model_selection import train_test_split
#split data set into train and test sets

In [5]:
class Dataset_tf():
    """A simple attempt to model a dog."""
    def __init__(self, df):
        """Initialize name and age attributes."""
        self.df = pd.read_csv(df)
        
    def get_LabelEncoder(self,labelencoders_list):
        for labelencoder_list in labelencoders_list:
            self.df[labelencoder_list] = le.fit_transform(self.df[labelencoder_list])
            #return self.df[labelencoder_list]
    def get_divided_df(self,c_id1,c_id2):
        # select columns other than 'Opportunity Number','Opportunity Result'
        cols = [col for col in self.df.columns if col not in [c_id1,c_id2]]
        global data , target
        # dropping the 'Opportunity Number'and 'Opportunity Result' columns
        data = self.df[cols]
        #assigning the Oppurtunity Result column as target
        target = self.df[c_id1]
        return data
    def get_test_train(self):
        data_train, data_test, target_train, target_test = train_test_split(data  , target , test_size = 0.30, random_state = 10)
        return data_train, data_test, target_train, target_test

In [6]:
my_dataset_tf = Dataset_tf("C:\\Users\\haier\\Python\\TEXT_DATA_PREPROCESSING\\subset_covid19_tweets.csv")

In [7]:
my_dataset_tf.df.dropna(inplace=True)

In [8]:
my_dataset_tf.df.drop("Unnamed: 0",axis=1,inplace=True)

In [9]:
my_dataset_tf.df.index.name='S:No' ; my_dataset_tf.df.columns.name = 'Info'

In [10]:
my_dataset_tf.df

Info,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
S:No,,,,,,,,,,,,,
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
5,üéπ Franz Schubert,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,üéº #–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è #Novorossiya #–æ—Å—Ç–∞–≤–∞–π—Å—è–¥–æ–º–∞ #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
6,hr bartender,"Gainesville, FL",Workplace tips and advice served up in a frien...,2008-08-12 18:19:49,79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,marklaverdure,Los Angeles & Billings,I have passion for living life to it's fullest...,2011-03-04 15:17:55,10078,10316,19623,False,2020-07-25 12:11:19,@realDonaldTrump #TrumpDeathToll148K 4.2 Milli...,"['TrumpDeathToll148K', 'COVID19', 'TrumpPandem...",Twitter Web App,False
488,Dr. Alia Shah,"City of London, London",Founder & #CEO #APR360; Global Top 50 #PR & #U...,2012-06-07 09:15:55,6229,302,3177,False,2020-07-25 12:11:19,Cheap #virus-killing spray that costs pennies ...,"['virus', 'coronavirus', 'COVID19']",Twitter for Android,False
490,MMBBDomains,United States,#Political/#election/#business/#news/#arts & #...,2019-11-07 17:07:48,93,66,212,False,2020-07-25 12:11:14,#Hurricane may hit area with major #COVID19 sp...,"['Hurricane', 'COVID19']",Twitter for Android,False
491,Jordan (Free Palestine),"Belfast, Northern Ireland",just a wee socialist trying to spread love & s...,2019-04-22 18:14:54,503,1053,24673,False,2020-07-25 12:11:13,Day 31: #FreePalestine\nPalestinians are still...,"['FreePalestine', 'COVID19', 'PalestiniansLive...",Twitter for iPhone,False
499,GlobalPandemic.NET,WORLDWIDE,Breaking News & Critical Information to SURVIV...,2010-07-13 21:58:05,26108,26003,2,False,2020-07-25 12:11:07,ALERT: Right-Wing People ‚ÄòLeast Likely To Wear...,"['Coronavirus', 'COVID19', 'Protests']",GlobalPandemic.NET,False

In [11]:
my_dataset_tf.get_LabelEncoder(['user_name','user_location','user_description','user_verified','text','hashtags','source','is_retweet','user_created','date'])

In [12]:
my_dataset_tf.df

Info,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
S:No,,,,,,,,,,,,,
2,209,137,3,17,9275,9525,7254,0,238,88,53,18,0
3,240,159,2,217,197,987,1488,0,237,84,53,20,0
4,46,89,251,189,101009,168,101,0,236,69,58,18,0
5,253,198,249,202,1180,1071,1287,0,235,55,139,17,0
6,242,64,231,4,79956,54810,3801,0,234,158,37,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,245,107,104,91,10078,10316,19623,0,3,93,114,17,0
488,54,41,85,125,6229,302,3177,0,3,126,169,18,0
490,121,175,5,227,93,66,212,0,2,34,83,18,0
491,104,16,238,219,503,1053,24673,0,1,133,77,20,0
499,76,182,42,75,26108,26003,2,0,0,102,60,5,0

In [13]:
my_dataset_tf.get_divided_df('user_name','text')

Info,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,is_retweet
S:No,,,,,,,,,,,
2,137,3,17,9275,9525,7254,0,238,53,18,0
3,159,2,217,197,987,1488,0,237,53,20,0
4,89,251,189,101009,168,101,0,236,58,18,0
5,198,249,202,1180,1071,1287,0,235,139,17,0
6,64,231,4,79956,54810,3801,0,234,37,1,0
...,...,...,...,...,...,...,...,...,...,...,...
487,107,104,91,10078,10316,19623,0,3,114,17,0
488,41,85,125,6229,302,3177,0,3,169,18,0
490,175,5,227,93,66,212,0,2,83,18,0
491,16,238,219,503,1053,24673,0,1,77,20,0
499,182,42,75,26108,26003,2,0,0,60,5,0

In [14]:
data_train, data_test, target_train, target_test  = my_dataset_tf.get_test_train()

In [19]:
data_test

Info,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,is_retweet
S:No,,,,,,,,,,,
229,173,8,139,13083,3,366,1,130,67,6,0
136,93,54,51,50389,915,32680,0,176,53,18,0
104,146,76,111,7657,329,25913,0,187,76,17,0
428,182,42,75,26108,26003,2,0,35,61,5,0
198,33,16,107,4579,5034,72501,0,149,35,18,0
...,...,...,...,...,...,...,...,...,...,...,...
9,199,128,167,55201,34239,29802,0,233,84,20,0
284,27,68,28,344,815,2907,0,99,113,18,0
153,187,234,131,2719,354,7362,0,170,111,17,0
358,108,124,186,279,188,468,0,68,53,18,0
430,91,146,239,102,388,1885,0,34,81,18,0

In [20]:
data_train

Info,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,is_retweet
S:No,,,,,,,,,,,
4,89,251,189,101009,168,101,0,236,58,18,0
400,67,24,169,19567,14662,2109,0,49,156,12,0
437,0,98,147,355,228,3685,0,29,82,17,0
408,20,35,224,1100,938,4189,0,44,48,17,0
137,71,32,61,69,27,9,0,175,147,18,0
...,...,...,...,...,...,...,...,...,...,...,...
288,96,40,245,230,605,7,0,97,51,17,0
235,15,7,142,13892795,69,104,1,129,1,16,0
27,110,212,1,86,259,9412,0,226,53,18,0
237,113,99,13,1838,2186,8218,0,128,53,20,0
491,16,238,219,503,1053,24673,0,1,77,20,0

In [21]:
target_test

S:No
229    216
136     95
104    235
428     76
198    165
      ...
9      129
284    130
153    233
358    145
430      3
Name: user_name, Length: 81, dtype: int32

In [22]:
target_train

S:No
4       46
400    202
437    142
408    105
137    185
      ...
288     66
235     29
27     236
237    118
491    104
Name: user_name, Length: 186, dtype: int32